.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    background-color: #112D4E;
    /* Couleur de fond */
    top: 0;
    left: 0;
    padding-top: 100px;
}

.sidebar .nav-link {

    margin: 10px;
    color: #DBE2EF;
}

.sidebar .nav-link:hover {
    background-color: #3F72AF;
}

h2 {
    padding-top: 10px;
    font-style: italic;
    color: #DBE2EF;
    padding-left: 20px;
    ;

}
