.view-task-container {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.task-table {
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.task-table th {
  background: #112D4E;
  color: white;
}

.task-table tr:nth-child(even) {
  background: #3f71af3b;
}

.task-table tr:hover {
  background: #DBE2EF;
}
